{% extends "base.html" %}

{% block css %} 
    {{ block.super }}
    <style media="screen">
        #accordion .btn {
            font-size: 1.2rem
        }
    </style>
{% endblock css %}

{% block title %} {{ block.super }} - Resources {% endblock title %}

{% block nav-faq-classes %}active{% endblock nav-faq-classes %}

{% block content %}
    <h2 class="text-primary font-weight-bold mb-4"> Frequently asked questions</h2>

    <div id="accordion">
    <div class="card">
        <div class="card-header" id="heading-search">
        <h5 class="mb-0">        
        <button class="btn btn-link link-secondary" data-toggle="collapse" data-target="#search" aria-expanded="true" aria-controls="search" style="white-space:normal; text-align:left">
                How do I search the directory?
            </button>
        </h5>
        </div>

        <div id="search" class="collapse show" aria-labelledby="heading-search" data-parent="#accordion">
        <div class="card-body">
            <p class="m-1">Visit our <a href="/list/">Directory</a> and use the search bar to narrow your search.
            Keywords should be separated by white spaces and can mix words from different fields
            (e.g. 'machine learning London' or 'NLP healthcare'). You can filter
            results to display only profiles from under-represented countries (list based on the
            <a href="https://datahelpdesk.worldbank.org/knowledgebase/articles/906519-world-bank-country-and-lending-groups">World's Bank</a>
            list of Low, Lower-Middle and Upper-Middle income economies as of August 2017).</p>

            <p class="m-1">Look at the profile provided by the researcher and
            search for other profiles (e.g. LinkedIn, institution, ResearchGate, …).
            Important note: the researchers are sole responsible for their profiles and we
            cannot guarantee authenticity.</p>

            <p class="m-1">It is a vicious circle: researchers need to be known to get
            invited as speakers but they need to be invited as speaker to get known. This cycle
            can be broken by taking a chance and inviting someone less recognized. Don't forget that younger scientists
            also have things to say and they might be more approachable/committed.</p>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading-resources">
        <h5 class="mb-0">
        <button class="btn btn-link link-secondary" data-toggle="collapse" data-target="#resources" aria-expanded="true" aria-controls="resources" style="white-space:normal; text-align:left">
                What if I don't find a suitable candidate? Other resources.
            </button>
        </h5>
        </div>
        <div id="resources" class="collapse" aria-labelledby="heading-resources" data-parent="#accordion">
        <div class="card-body">
            <p class="m-1">If you cannot identify potential speakers for your event, check out these other great resources:</p>
            <ul>
                <li><a href="https://blackinai2020.vercel.app/">
                    BlackInAI</a>, Black researchers in AI, ML and related application areas (health, agriculture, politics, economics, law etc.)</li>
                <li><a href="https://www.latinxinai.org/">LatinXAI</a>, Global Community of LatinX in AI Professionals</li>
                <li><a href="https://sites.google.com/view/queer-in-ai">Queer in AI</a>, an initiative to raise awareness of queer issues in AI/ML</li>
                <li><a href="http://www.academia-net.org/">AcademiaNet</a>, a database of women in all fields of science, nominated by partner agencies.</li>
                <li><a href="https://500womenscientists.org/">500 women scientists</a>, a list of women in STEM.</li>
            </ul>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading-mailing-list">
        <h5 class="mb-0">
            <button class="btn btn-link link-secondary" data-toggle="collapse" data-target="#mailing-list" aria-expanded="true" aria-controls="mailing-list" style="white-space:normal; text-align:left">
                What if I want to brodcast a job or other opportunities to all the candidates?
            </button>
        </h5>
        </div>
        <div id="mailing-list" class="collapse" aria-labelledby="heading-mailing-list" data-parent="#accordion">
        <div class="card-body">
            <p class="m-1">The purpose of this directory is to find suitable candidates for an event according to their profiles. However if you wish to broadcast an 
                opportunity to a wider audience, you can use the <a href="https://wimlworkshop.org/sh_projects/mailing-list/">WiML mailing list</a>. Only women 
                researchers subscribed to the mailing list, will receive the e-mail. They might or might not be a part of the directory.
            </p>
        </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading-profile-details">
        <h5 class="mb-0">
            <button class="btn btn-link link-secondary" data-toggle="collapse" data-target="#profile-details" aria-expanded="true" aria-controls="profile-details" style="white-space:normal; text-align:left">
                I need help searching and understanding the information on user profiles. What are methods, applications, and preferred pronouns?
            </button>
        </h5>
        </div>
        <div id="profile-details" class="collapse" aria-labelledby="heading-profile-details" data-parent="#accordion">
        <div class="card-body">
            <p class="m-1">
            <ul>
                <li>Preferred pronouns: Some candidates might opt to specify their preferred pronouns and it is important to respect the pronouns while addressing them. If a candidate has not specified their pronouns, it will not be displayed on the profile details. Refer to the <a href="https://www.queerinai.com/diversity-inclusion">queerinai guidebook</a> to know more about different pronouns.</li>
                <li>Methods: It specifies the area of machine learning methods the candidate is interested in. The comprehensive set of options available to users are:
                    <ul>
                        <li>Supervised learning</li>
                        <li>Unsupervised learning</li>
                        <li>Algorithms: active, online, multi-task learning, etc.</li>
                        <li>Deep learning</li>
                        <li>Reinforcement learning and planning</li>
                        <li>Representation learning</li>
                        <li>Probabilistic methods</li>
                        <li>Optimization methods</li>
                        <li>Learning theory</li>
                        <li>Trustworthy ML</li>
                        <li>Humans and AI</li>
                    </ul>
                </li>
                <li>Applications: It specifies the list of machine learning applications the candidate is interested in. The comprehensive set of options available to users are:
                    <ul>
                        <li>Audio and Speech Processing</li>
                        <li>Computer Vision</li>
                        <li>Natural Language Processing (NLP)</li>
                        <li>Time Series Analysis</li>
                        <li>Robotics</li>
                        <li>Computational biology</li>
                        <li>Neuroscience</li>
                        <li>Physical sciences</li>
                        <li>Healthcare</li>
                        <li>Social good</li>
                        <li>Climate science</li>
                        <li>Deployment of AI/ML systems</li>
                    </ul>
                </li>
            </ul>
            </p>
        </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="heading-enter">
        <h5 class="mb-0">        
        <button class="btn btn-link link-secondary" data-toggle="collapse" data-target="#enter" aria-expanded="true" aria-controls="enter" style="white-space:normal; text-align:left">
                How can I add my profile to the directory?
            </button>
        </h5>
        </div>
        <div id="enter" class="collapse" aria-labelledby="heading-enter" data-parent="#accordion">
        <div class="card-body">
            <p class="m-1">To enter your information on the directory, you need to first create and confirm a user account. This will allow you to access, edit and
                 delete all your information. After logging into your account, you can create a public profile by filling in 'Further information'. Make sure
            you agree with our data storing terms (see <a href="#heading-gdpr">here</a>).</p>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading-visibility">
        <h5 class="mb-0">
            <button class="btn btn-link link-secondary" data-toggle="collapse" data-target="#visibility" aria-expanded="true" aria-controls="visibility" style="white-space:normal; text-align:left">
                I haven’t been contacted for any event yet, how can I make my profile more discoverable?
            </button>
        </h5>
        </div>
        <div id="visibility" class="collapse" aria-labelledby="heading-visibility" data-parent="#accordion">
        <div class="card-body">
            <p class="m-1">To make sure your profile is visible for relevant events, try to provide as much information as possible for your public profile 
                in the directory. Adding multiple free format keywords related to your field of research and interests can also help the coordinators discover 
                your profile more easily.
            </p>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading-edit">
        <h5 class="mb-0">        
        <button class="btn btn-link link-secondary" data-toggle="collapse" data-target="#edit" aria-expanded="true" aria-controls="edit" style="white-space:normal; text-align:left">
                How can I edit my information?
            </button>
        </h5>
        </div>
        <div id="edit" class="collapse" aria-labelledby="heading-edit" data-parent="#accordion">
        <div class="card-body">
            <p class="m-1">To edit your information, log into your account. You can then edit your account information as well as create, edit or delete the information in your (public) profile.
            </p>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading-gdpr">
        <h5 class="mb-0">        
        <button class="btn btn-link link-secondary" data-toggle="collapse" data-target="#gdpr" aria-expanded="true" aria-controls="gdpr" style="white-space:normal; text-align:left">
                What do you do with my information?
            </button>
        </h5>
        </div>
        <div id="gdpr" class="collapse" aria-labelledby="heading-gdpr" data-parent="#accordion">
        <div class="card-body">
            <p class="m-1">We store the data provided (by you) only for display on this website, with the intent to increase the visibility of women in machine learning.
            We do not distribute it to third-parties within or outside the EU under any circumstances. You have the right to access your data, as well as for the data to be
            erased from our database at any time.
            To do so, log in and delete your profile. Your profile and account will be instantaneously deleted and all traces of your data will be fully deleted after 30 days. To know more about your rights as users of this website, please
            refer to the <a href="https://ec.europa.eu/info/law/law-topic/data-protection_en">European Commission</a> data protection policies.
            </p>
        </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading-tech-issue">
        <h5 class="mb-0">
            <button class="btn btn-link link-secondary" data-toggle="collapse" data-target="#tech-issue" aria-expanded="true" aria-controls="tech-issue" style="white-space:normal; text-align:left">
                I am facing some technical difficulties with the website, whom can I contact?
            </button>
        </h5>
        </div>
        <div id="tech-issue" class="collapse" aria-labelledby="heading-tech-issue" data-parent="#accordion">
        <div class="card-body">
            <p class="m-1">If you encounter any technical issues with the website or would like to request a new feature you can create a 
                <a href="https://github.com/wimlworkshop/directory/issues">new issue</a> on the directory’s GitHub repository. 
            </p>
        </div>
        </div>
    </div>
    </div>

    <p style="padding: 3em 0 0 0; font-size: 12px; text-align:center">
        Last update: July 2021
    </p>

{% endblock content %}
