{% extends "base.html" %}

{% load static %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'profiles/css/home.css' %}?v=3" />
	<style>
		* {
  			box-sizing: border-box;
		}
		/* Create two equal columns that floats next to each other */
		.column {
  			float: left;
		}
		/* Clear floats after the columns */
		.row:before {
  			content: "";
  			display: table;
  			clear: both;
		}
		.scrollable {
    		overflow-y: auto !important;
    		overflow-x: hidden !important;
    		height: 280px;
		}
	</style>
{% endblock css%}

{% block nav-home-classes %}active{% endblock nav-home-classes %}

{% block page_container %}
{% endblock page_container %}

{% block full_page_content %}
<div class="container-fluid p-0">
	<picture id="hero-image">
		<source srcset="{% static 'profiles/images/wiml_banner.jpg' %}" type="image/jpg"> 
		<img src="{% static 'profiles/images/wiml_banner.jpg' %}" alt="Header Image">
	</picture>
</div>
<div class="container-fluid" id="home-search">
	<form action="list" method="get" class="input-group bg-white rounded p-1 mx-auto">
		<input type="text" id="search-input" class="form-control" placeholder="Enter search keywords here..." aria-label="Search" name="s" autofocus>
		<button type="submit" id="search-btn" class="btn btn-secondary pl-4 pr-4">Search</button>
	</form>
</div>
<div class="container-fluid bg-secondary text-white pt-5 pb-5" id="intro-container">
	<div class="row no-gutters p-4">
		<div class="col-md-4 offset-md-4 text-center">
			<h1 id="women-text"> Women in Machine Learning </h1>
		</div>
	</div>
	<div class="row no-gutters p-4">
		<div  class="col-md-10 offset-md-1" id="intro-text" >
			<p class="h5 text-justify">Despite some effort from the community and
				<a class="text-success" href="{% url 'profiles:faq' %}#heading-resources">great initiatives</a>, women are
				still under-represented in machine learning.
				The aim of this directory of Women in Machine Learning is to help you identify
				women researchers or practitioners for conferences, symposia or collaborations.</p>
		</div>
	</div>
	<div class="d-flex flex-wrap justify-content-around header-buttons">
		<div class="m-2">
			<a href="{% url 'profiles:index' %}" class="btn pill-btn header-btn text-success">View Directory</a>
		</div>
		<div class="m-2">
			<a href="{% url 'profiles:signup' %}" class="btn pill-btn header-btn text-success">Create Profile</a>
		</div>
	</div>
</div>


<div class="container-fluid" id="stats">
	<div class="text-center m-4" id="entries-container">
		<p class="h1 text-primary font-weight-bold mb-0" id="entries-number"> </p>
		<p class="h5 text-secondary" id="entries-text">entries in directory. </p>
	</div>

	<div class="d-flex flex-wrap justify-content-center align-items-start m-4" id="chart-stats">
		<div class="p-2 text-center donutTab">
			<table>
				<tr>
					<td class="donutCell">
						<div id="chartStudent" class="donutDiv"></div>
						<div id="student-percent" class="donutValue">%</div>
					</td>
				</tr>
			</table>
			<span class="position-title text-tertiary" id="Studenttext">Student</span>
			<p id="student-count" class="position-text"> profiles</p>
		</div>
		<div class="p-2 text-center donutTab">
			<table>
				<tr>
					<td class="donutCell">
						<div id="chartOther" class="donutDiv"></div>
						<div id="other-percent" class="donutValue">%</div>
					</td>
				</tr>
			</table>
			<span class="position-title text-tertiary" id="Othertext">Mid-career</span>
			<p id="other-count" class="position-text"> profiles</p>
		</div>
		<div class="p-2 text-center donutTab">
			<table>
				<tr>
					<td class="donutCell">
						<div id="chartProf" class="donutDiv"></div>
						<div id="prof-percent" class="donutValue">%</div>
					</td>
				</tr>
			</table>
			<span class="position-title text-tertiary" id="Proftext">Academic</span>
			<p id="prof-count" class="position-text"> profiles</p>
		</div>
		<div class="p-2 text-center donutTab">
			<table>
				<tr>
					<td class="donutCell">
						<div id="chartSenior" class="donutDiv"></div>
						<div id="senior-percent" class="donutValue">%</div>
					</td>
				</tr>
			</table>
			<span class="position-title text-tertiary" id="Seniortext">Other senior</span>
			<p id="senior-count" class="position-text"> profiles</p>
		</div>
	</div>

	<div class="row no-gutters m-4" id="country-stats">
		{% comment %} <div class="col-12 col-md-8 offset-md-2" id="map-container"> {% endcomment %}
		<div class="col-12 col-md-8 offset-md-2 m-auto" id="map-container">
			<div id="regions_div"></div>
		</div>
	</div>
</div>

{% endblock full_page_content %}

{% block footer_scripts %}
	{{ block.super }}
	<script src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="{% static 'profiles/js/home-graphs.js' %}?v=1"></script>
{% endblock footer_scripts %}
