body {
	font-family:'Roboto','Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family:'Catamaran','Roboto', sans-serif;
}

.full_page {
	padding: 65px 0px 0px 0px;
}
.page-container {
	padding: 20px 50px 70px 50px;
}

.intro p {
	font-size: medium;
}

/* navbar */

.navbar-custom  {
	background-color: white;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #666;
}
.navbar-custom .navbar-nav .nav-link {
    color: #666;
}

/* Settings for active links in the navigation bar */
.navbar-custom .nav-item.active .nav-link {
	color:#267abb; /* teal #10898B; red #CC063E*/
	text-decoration: underline;
	font-weight: bold;
}

/* Settings when cursor is on the top of item in navigation bar*/
.navbar-custom .nav-item:hover .nav-link {
    color:#267abb;
}

/* The dropdown container */
.dropdown {
    display: inline-block;
    overflow: hidden;
}

/* Default settings of top button of dropdown menu*/
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #666;
    padding: 8px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
}

/* Settings when cursor is on top of dropdown menu */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: none;
    color: #267abb;
    text-decoration: underline;
    font-weight: bold;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Default settings of items in the dropdown menu */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #666;
}

/* Show grey-bar selection when cursor is on the top of dropdown-menu item */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show grey-bar selection when cursor is on the top of dropdown-menu item */
.dropdown-content:active {
    background-color: #ddd;
}

/* Show dropdown menu */
.dropdown:hover .dropdown-content {
    display: block;
}

/* head */
.headtitle {
	font-family: 'Nunito', sans-serif;
}

.page-footer a {
	color: #fff;
}

.grey-bg {
    background-color: #e6e6e6;
}

.link-secondary {
	color:#444444;
}

.pill-btn {
	border-radius: 50px;
}

#wiml-logo > img {
	height: 38px;
}
