{% extends "base_email.html" %}
{% load abs_url %}

{% block content %}

<h1 style="text-align: center;">
	Thank you for registering for the Directory of Women in Machine Learning!
</h1>

<p style="text-align: center; font-size: 140%">Please, confirm your e-mail address following the link:</p>
<p style="text-align: center; font-size: 140%">
	<a href="{% abs_url 'profiles:signup_confirm' %}?token={{ token }}&uid={{ uid }}">
		{% abs_url 'profiles:signup_confirm' %}?token={{ token }}&uid={{ uid }}
	</a>
</p>

{% endblock content %}