{% extends "base_email.html" %}
{% load abs_url %}

{% block content %}

<h2 style="text-align: center;">
	Welcome to the Directory of Women in Machine Learning!
</h2>

<p style="font-size: 100%">Please, confirm your e-mail address following the link:</p>
<p style="font-size: 100%">
	<a href="{% abs_url 'profiles:signup_confirm' %}?token={{ token }}&uid={{ uid }}">
		{% abs_url 'profiles:signup_confirm' %}?token={{ token }}&uid={{ uid }}
	</a>
</p>

<p style="font-size: 100%">To appear in the public directory, log in and fill in your Profile. </p>

{% endblock content %}