{% extends "base.html" %}

{% block title %}
	{{ block.super }} - Sign Up
{% endblock title %}

{% block nav-signup-classes %}active{% endblock nav-signup-classes %}

{% block content %}

<div class="container-fluid">
	<div class="row no-gutters">
		<div class="col-10 text-center">
			<h2 class="text-primary font-weight-bold">Your registration is complete</h2>
			<p>An e-mail has been sent to the address provided. Check your spam folder if you don't receive it.</p>
				
			<p>Please confirm your registration by clicking on the link in the email to enable the log in.</p>
			<div class="text-center">
				<label class="form-check-label" for="defaultCheck1">Did not receive an e-mail?
					<a href="{% url 'profiles:resend_confirmation' %}"> Resend account confirmation </a>
				</label>
			</div>
		</div>
	</div>
</div>

{% endblock content %}