{% extends "base.html" %}

{% load bootstrap4 %}
{% load static %}

{% block title %}
	{{ block.super }} - Profile details
{% endblock title %}

 {% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'profiles/css/style.css' %}?v=3" />
{% endblock css %}

{% block nav-account-classes %}active{% endblock nav-account-classes %}

{% block full_page_content %}
	<div id="list-search" class="w-100 bg-secondary" style="height:250px; margin-bottom:-150px;"></div>
{% endblock full_page_content %}

{% block content %}

<div class="container-fluid">
	<div class="row no-gutters">
		<div class="col-xs-6 col-sm-8 col-md-9 text-muted details-grey">
			<h2 class="text-primary font-weight-bold">{{ user.profile.first_name }} {{ user.profile.last_name }}</h2>
			{% if user.profile.preferred_pronoun != "Prefer not to say" and  user.profile.preferred_pronoun != "" %} <p class="m-1"><i class="fas fa-user"></i> {{ user.profile.other_pronoun }}</p>{% endif %}
			<p class="m-1"><i class="fas fa-briefcase"></i> {{ user.profile.position }}</p>
			<p class="m-1"><i class="fas fa-university"></i> {{ user.profile.institution }}</p>
			<p class="m-1"><i class="fas fa-map-marker-alt"></i> {{ user.profile.country }}</p>
			{% if user.profile.grad_year %}<p class="m-1"><i class="fas fa-graduation-cap"></i> {{ user.profile.grad_month_labels }} {{ user.profile.grad_year }}</p>{% endif %}
			<div id="profile-id" class="d-none">{{ user.profile.id }}</div><!-- Used to pass profile ID to jQuery in profile_details.js -->
		</div>
	</div>
</div>

<div id="field-of-research">
	<h5 class="text-primary font-weight-bold mt-5">
		<span class="text-secondary"><i class="fas fa-chevron-circle-right"></i></span>
		Field of Research
	</h5>
	<div id="field-of-research-list" class="w-100 p-4 mt-3 d-flex flex-row grey-bg rounded">
		<div class="w-50 p-2 text-center">
			<h6 class="text-secondary font-weight-bold">Methods</h6>
			<ul class="list-group list-group-flush">
				{% for method in user.profile.methods_labels %}
				<li class="list-group-item grey-bg" style="border: none; padding: 0;">{{ method }} </li>
				{% endfor %}
			</ul>
		</div>
		<div class="w-50 p-2 text-center">
			<h6 class="text-secondary font-weight-bold">Applications</h6>
			<ul class="list-group list-group-flush">
				{% for application in user.profile.applications_labels %}
				<li class="list-group-item grey-bg" style="border: none; padding: 0;">{{ application }} </li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

{% if user.profile.keywords %}
<div id="keywords">
	<h5 class="text-primary font-weight-bold mt-5">
		<span class="text-secondary"><i class="fas fa-chevron-circle-right"></i></span>
		Other keywords
	</h5>
	<div class="grey-bg p-4 mt-3 rounded">
		<p>{{ user.profile.keywords }}</p>
	</div>
</div>
{% endif %}

<div id="public">
	<h5 class="text-primary font-weight-bold mt-5">
		<span class="text-secondary"><i class="fas fa-chevron-circle-right"></i></span>
		Public profile?
	</h5>
	<div class="grey-bg p-4 mt-3 rounded">
		<p>{% if user.profile.is_public %} Yes, this profile is public. {% else %} No, this profile is private. {% endif %} </p>
	</div>
</div>



<div id="results-nav" class="border-top pt-2 mt-4 w-100 text-muted">
	<div class="float-right">
		<a class="btn btn-outline-primary pill-btn" href="{% url 'profiles:user_profile_edit' %}">Edit</a>
	</div>
</div>

{% endblock content %}

{% block footer_scripts %}
	{{ block.super }}
	<script src="{% static 'profiles/js/profile-gtag.js' %}?v=1"></script>
{% endblock footer_scripts %}